<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="pisces.android">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="pisces.psuikit.imagepicker.ImagePickerViewActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImagePickerTheme">
        </activity>
    </application>

</manifest>
