<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orcller.app.orcllermodules">
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <android:uses-permission android:name="android.permission.INTERNET" />

    <application android:name="pisces.psfoundation.ext.Application" android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
    </application>
</manifest>
