<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orcller.app.orcller"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="pisces.psfoundation.ext.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.NoActionBar" >
        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/PurpleTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="@string/host_main" android:scheme="@string/app_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MemberActivity"
            android:launchMode="singleTask"
            android:theme="@style/PurpleTheme">
        </activity>
        <activity
            android:name=".activity.MemberJoinInputActivity"
            android:launchMode="singleTask"
            android:theme="@style/PurpleTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="@string/host_member" android:path="/1" android:scheme="@string/app_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MediaListActivity"
            android:launchMode="singleTask"
            android:theme="@style/BlackTheme">
        </activity>

        <activity
            android:name=".activity.imagepicker.FBImagePickerActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImagePickerTheme">
        </activity>
        <activity
            android:name=".activity.imagepicker.FBMediaGridActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImagePickerTheme">
        </activity>

        <activity
            android:name=".activity.imagepicker.IGImagePickerActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImagePickerTheme">
        </activity>
        <activity
            android:name=".activity.imagepicker.IGMediaGridActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImagePickerTheme">
        </activity>
        <activity
            android:name=".activity.imagepicker.IGPopularMediaGridActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImagePickerTheme">
        </activity>

        <activity
            android:name=".activity.AlbumCreateActivity"
            android:launchMode="singleTask"
            android:theme="@style/WhiteTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="@string/host_album" android:path="/2" android:scheme="@string/app_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AlbumEditActivity"
            android:launchMode="singleTask"
            android:theme="@style/WhiteTheme">
        </activity>
        <activity
            android:name=".activity.AlbumViewActivity"
            android:launchMode="singleTask"
            android:theme="@style/PurpleTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="@string/host_album" android:path="/1" android:scheme="@string/app_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AlbumPageOrderActivity"
            android:launchMode="singleTask"
            android:theme="@style/WhiteTheme">
        </activity>
        <activity
            android:name=".activity.AlbumPageDefaultActivity"
            android:launchMode="singleTask"
            android:theme="@style/WhiteTheme">
        </activity>
        <activity
            android:name=".activity.AlbumPageDeleteActivity"
            android:launchMode="singleTask"
            android:theme="@style/WhiteTheme">
        </activity>

        <activity
            android:name=".activity.PageListActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/WhiteTheme">
        </activity>

        <activity
            android:name=".activity.CommentListActivity"
            android:theme="@style/PurpleTheme">
        </activity>

        <activity
            android:name=".activity.AlbumHeartListActivity"
            android:theme="@style/PurpleTheme">
        </activity>

        <activity
            android:name=".activity.AlbumStarListActivity"
            android:theme="@style/PurpleTheme">
        </activity>

        <activity
            android:name=".activity.ProfileActivity"
            android:theme="@style/PurpleTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="@string/host_users" android:path="/1" android:scheme="@string/app_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UserPictureActivity"
            android:theme="@style/BlackTheme">
        </activity>

        <activity
            android:name=".activity.UserPictureEditActivity"
            android:theme="@style/BlackTheme">
        </activity>

        <activity
            android:name=".activity.FollowingActivity"
            android:theme="@style/PurpleTheme">
        </activity>

        <activity
            android:name=".activity.FollowersActivity"
            android:theme="@style/PurpleTheme">
        </activity>

        <activity
            android:name=".activity.CoeditListActivity"
            android:theme="@style/PurpleTheme">
        </activity>
        <activity
            android:name=".activity.CoeditViewActivity"
            android:theme="@style/PurpleTheme">
        </activity>

        <activity
            android:name=".activity.OptionsActivity"
            android:theme="@style/PurpleTheme">
        </activity>

        <activity
            android:name=".activity.ChangePasswordActivity"
            android:theme="@style/PurpleTheme">
        </activity>

        <activity
            android:name=".activity.CoeditAskActivity"
            android:theme="@style/PurpleTheme">
        </activity>

        <activity
            android:name=".activity.CoeditInviteActivity"
            android:theme="@style/PurpleTheme">
        </activity>

        <activity
            android:name=".activity.FindFriendsActivity"
            android:theme="@style/PurpleTheme">
        </activity>

        <!-- orcllermodules -->
        <activity
            android:name="com.orcller.app.orcllermodules.activity.WebViewActivity"
            android:theme="@style/PurpleTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="@string/host_web" android:scheme="@string/app_scheme" />
            </intent-filter>
        </activity>

        <!-- psuikit -->
        <activity
            android:name="pisces.psuikit.imagepicker.ImagePickerActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImagePickerTheme">
        </activity>

        <!-- AWS -->
        <meta-data
            android:name="AWSAccessKey"
            android:value="AKIAJJEZW26DMJJYALNQ" />
        <meta-data
            android:name="AWSSecretKey"
            android:value="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" />
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <!-- Facebook SDK -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider470721986412373"
            android:exported="true" />

        <!-- InstagramSDK -->
        <activity
            android:name="pisces.instagram.sdk.activity.InstagramLoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/WhiteTheme"
            android:launchMode="singleTask">
        </activity>
        <meta-data
            android:name="pisces.instagram.sdk.ClientId"
            android:value="@string/instagram_client_id" />
        <meta-data
            android:name="pisces.instagram.sdk.ClientSecret"
            android:value="@string/instagram_client_secret" />
        <meta-data
            android:name="pisces.instagram.sdk.RedirectUrl"
            android:value="@string/instagram_redirect_url" />

        <!-- GCM Settings -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.orcller.app.orcller.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.GcmListenerService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.InstanceIDListenerService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
