<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orcller.app.orcller"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.orcller.app.orcllermodules.ext.Application"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.NoActionBar"
        android:launchMode="singleTask">

        <activity android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".activity.MemberActivity"
            android:theme="@style/PurpleToobarTheme"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".activity.MemberJoinInputActivity"
            android:theme="@style/PurpleToobarTheme"
            android:launchMode="singleTask">
        </activity>

        <activity android:name="com.orcller.app.orcllermodules.activity.WebViewActivity"
            android:theme="@style/PurpleToobarTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="@string/external_web" android:scheme="@string/app_scheme" />
            </intent-filter>
        </activity>

        <!-- Facebook SDK -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation">
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />

        <provider
            android:authorities="com.facebook.app.FacebookContentProvider470721986412373"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <!-- GCM Settings -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.orcller.app.orcller.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".service.ApplicationService"
            android:exported="true"></service>
    </application>

</manifest>
